@using DotTracked.Shared.Constants
@inject NavigationManager Navigation

<MudLink Href="/" Class="mt-2">
    <MudImage Src="@(IsDarkMode ? "images/logo-dark.svg" : "images/logo-light.svg")" Alt="Logo" Height="24"></MudImage>
</MudLink>

<AuthorizeView>
    <MudSpacer/>

    <MudButton Href="/" Variant="Variant.Text" Class="@GetActiveClass("")">Home</MudButton>

    @if (context.User.IsInRole(Roles.Admin))
    {
        <MudButton Href="/admin/users" Variant="Variant.Text" Class="@GetActiveClass("admin/users")">Users</MudButton>
        <MudButton Href="/admin/groups" Variant="Variant.Text" Class="@GetActiveClass("admin/groups")">Groups</MudButton>
    }
    else
    {
        <MudButton Href="/issues" Variant="Variant.Text" Class="@GetActiveClass("issues")">Issues</MudButton>
        <MudButton Href="/groups" Variant="Variant.Text" Class="@GetActiveClass("groups")">Groups</MudButton>
        <MudButton Href="/absences" Variant="Variant.Text" Class="@GetActiveClass("absences")">Absences</MudButton>
        <MudButton Href="/analytics" Variant="Variant.Text" Class="@GetActiveClass("analytics")">Analytics</MudButton>
    }

    <MudSpacer/>

    <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@OnDarkModeToggle"/>

    <MudMenu Icon="@Icons.Material.Filled.AccountCircle" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
        <MudMenuItem Disabled="true" Icon="@Icons.Material.Filled.Key">Logged in as: @context.User.Identity?.Name</MudMenuItem>

        <MudDivider/>

        <MudMenuItem Href="profile" Icon="@Icons.Material.Filled.ManageAccounts" Label="Manage Account"/>
        <form action="Account/Logout" method="post">
            <AntiforgeryToken/>
            <button id="logout-button" type="submit">
                <MudMenuItem Icon="@Icons.Material.Filled.Logout" Label="Logout"/>
            </button>
        </form>
    </MudMenu>
</AuthorizeView>

<style>
    #logout-button { width: 100%; }

    .active-button {
        text-decoration: underline 2px;
        text-underline-offset: 8px;
    }
</style>

@code {

    [Parameter]
    public bool IsDarkMode { get; set; }

    [Parameter]
    public string DarkLightModeButtonIcon { get; set; } = null!;

    [Parameter]
    public EventCallback OnDarkModeToggle { get; set; }

    private string GetActiveClass(string uri)
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        var isActive = string.IsNullOrEmpty(uri)
            ? string.IsNullOrEmpty(relativePath)
            : relativePath.StartsWith(uri, StringComparison.OrdinalIgnoreCase);

        return isActive ? "mud-primary-text active-button mx-2" : "mx-2";
    }

}